.git
.github
.venv
backend/.venv
backend/*.db
backend/.pytest_cache
backend/tests
node_modules
dist
dist-ssr
*.local
.env
.env.*
!.env.example
README.md
.vscode
.idea
**__pycache__
*.py[cod]
.DS_Store
